rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Start by closing all access by default, then add what you need
    match /{document=**} {
      allow read, write: if false;
    }

    match /test/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /test_documents/{id} {
      allow update: if (request.auth != null &&
      resource.data.authorId == request.auth.uid);
    }

    // Add new rules here
     
    // Allow any authenticated user to create a to-do item for themselves
       
    match /todos/{docId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && request.auth.uid == request.auth.uid;
    }

    //Any authenticated user may create a profile and view other users' profiles.

    match /users/{document=**} {
      allow read: if request.auth != null;
    }
    
   // Any authenticated user is allowed to edit their own profile.

    match /users/{docID} {
      allow update: if request.auth.uid == resource.data.uid;
    }  

  //Admin users can edit any user's profile.

   match /users/{docID} {
    allow update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true; 
  }


  //Only the admin users can make other users admins.

  // COME BACK TO THIS ONE
  }
}